[
    {rabbit, [
        {auth_backends, [{rabbit_auth_backend_internal,
                          [rabbit_auth_backend_internal, rabbit_auth_backend_ip_range]
                         }]
        }
    ]},
    {rabbitmq_auth_backend_ip_range, [
        {tag_masks,
            [{'ip-private', [<<"::FFFF:192.168.0.0/112">>]},
            {'ip-local', [<<"::FFFF:127.0.0.1/112">>]}]},
        {default_masks, [<<"::0/128">>]}
    ]}
].
